.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 96, 96, 1);
    &-title , &-link {
        margin: 100px 0;
   }
    &-title {
        font-size: 288px;
    }
    &-text {
        font-weight: 500;
        font-size: 36px;
    }
    &-link {
        font-weight: 500;
        font-size: 18px;
    }
}