/*Imports*/
@import 'index';

/****Error****/

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $main-color;
    &-title , &-link {
        margin: 100px 0;
    }
    &-title {
        font-size: 288px;
        /*Responsive mobile*/
        @media screen and (min-width: 375px) and (max-width :720px){
            font-size: 96px;
        }
    }
    &-text {
        font-weight: 500;
        font-size: 36px;
        /*Responsive mobile*/
        @media screen and (min-width: 375px) and (max-width :720px){
            width: 260px;
            font-size: 18px;
            text-align: center;
        }
    }
    &-link {
        font-weight: 500;
        font-size: 18px;
        color: black;
        /*Responsive mobile*/
        @media screen and (min-width: 375px) and (max-width :720px){
            font-size: 14px;
        }
    }
}
.br {
    display: none;
    /*Responsive mobile*/
    @media screen and (min-width: 375px) and (max-width :720px){
        display: block;
    }
}