/****Header****/

.nav {
    display: flex;
    margin: 50px 100px;
    width: 86.11%;
    justify-content: space-between;
    /*Responsive mobile*/
    @media screen and (min-width: 375px) and (max-width :720px){
        margin: 0 20px 20px 20px;
        width: 89.33%;
        &__logo {
            width: 145px;
            height: 47px; 
        }
    }
    &__list {
        display: flex;
        gap: 57px;
        width: 269px;
        list-style-type: none;
        justify-content: end;
        /*Responsive mobile*/
        @media screen and (min-width: 375px) and (max-width :720px){
            gap: 26px;
        }
        &--link {
            color: black;
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
            /*Responsive mobile*/
            @media screen and (min-width: 375px) and (max-width :720px){
                font-size: 12px;
                text-transform: uppercase;
            }
            &.active {
                text-decoration: underline;
            }
        }
    }
}