@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$main-color:rgba(255, 96, 96, 1);

body {
    margin: 0;
}

#root {
    max-width: 1440px;
    font-family: Montserrat;
}