/****Banner****/

/*Modification CSS Banner pour
 être conforme à la maquette*/
.banner__img {
    filter: brightness(0.7);
}

/****Information****/

/*Div qui va accueillir les collapses*/
.about {
    display: flex;
    flex-direction: column;
    /*Responsive mobile*/
    @media screen and (min-width: 375px) and (max-width :720px){
        gap: 20px;  
    }
}