.slide-show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__img{
        width: 1240px;
        height: 415px;
        border-radius: 25px;
        object-fit: cover;
    }
    &__back , &__forward{
        width: 96px;
        height: 119px;
        position: relative;
        top: 150px;
    }
    &__back {
        left: 100px;
    }
    &__forward {
        right: 100px;
    }
}
 .lodge-number {
    color: white;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 350px;
    right: 750px;
 }
